/*	CONFIG
	====== */

/*	TYPOGRAPHY
	========== */

$iconFont: "icons" !important;

$serif: "freight-text-pro", "Georgia";
$sans-serif: "freight-sans-pro", "Helvetica";
$fontWeightNormal: 400;
$fontWeightMedium: 600;
$fontWeightBold: 700;

/*	LAYOUT
	====== */

/* Site breakpoints */

$tiny: 25em; /* 400px divided by 16px */
$small: 37.5em; /* 600px divided by 16px */
$medium: 50em; /* 800px divided by 16px */
$large: 62.5em; /* 1000px divided by 16px */
$xlarge: 143.75em;

/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */

$layoutContainerPadding--tiny: 4%;
$layoutContainerPadding--medium: 3%;

/* COLOR
	====== */

/* Basic link colors - these colors also affect the Google Search result link colors */

$linkColor: #c0004e;
$linkColorHoverFocus: #989898;
$linkColorVisited: #5A5A5A; /* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
$linkColorActive: #E07EA6;
$linkBorderColor: $linkColor;

$fontColor: #5A5A5A;

$html--backgroundColor: transparent;
$body--backgroundColor: transparent;
$u-lHeader--backgroundColor: transparent;
$u-lFooter--backgroundColor: $fontColor;

/* MODULES
	======== */

/* Bios */

$u-BioList__name--font: $sans-serif 1.2em $sans-serif;
$u-BioList__title--font: 100% $serif ;
$u-Bio__title--font: $fontWeightBold 100% $serif;
$u-Bio__contactItemLabel--font: $fontWeightBold .85em $serif ;
$u-Bio__contactData--font: .9em $serif ;
$u-Bio__contactItem--marginBottom: .1em;

$u-Bio__title--color: inherit;
$u-Bio__contactItemLabel--color: inherit;
$u-Bio__contactData--color: inherit;

/* Breadcrumbs  */

$u-BreadCrumbs__item--font: .9em $sans-serif;

$u-BreadCrumbs__item--dividerColor: #ccc;

$u-BreadCrumbs__item--linkColor: $linkColor;
$u-BreadCrumbs__item--linkColorHoverFocus: $linkColorHoverFocus;
$u-BreadCrumbs__item--linkColorVisited: $linkColorVisited;
$u-BreadCrumbs__item--linkColorActive: $linkColorActive;

/* Footer */

$u-VCard__site--font: $fontWeightNormal 1em/1.2 $sans-serif;
$u-VCard__site--labelFont: $fontWeightMedium 1em/1.2 $sans-serif;

$u-VCard__site--color: #fff;
$u-VCard__site--labelColor: #fff;

$u-VCard__site--linkColor: #fff;
$u-VCard__site--linkColorHoverFocus: $linkColorHoverFocus;
$u-VCard__site--linkColorVisited: #fff;
$u-VCard__site--linkColorActive: $linkColorActive;

$u-VCard__site--border: none;

/* Images */

$u-Figure__caption--font: $fontWeightNormal .9em/1.2 $sans-serif;

$u-Figure__caption--linkColor: $linkColor;
$u-Figure__caption--linkColorHoverFocus: $linkColorHoverFocus;
$u-Figure__caption--linkColorVisited: $linkColorVisited;
$u-Figure__caption--linkColorActive: $linkColorActive;

$figureMargin: 1.25em;

/*	Google search results  */

$gsSearchTermHighlighted: $fontColor;	/* Currently being overridden by something in Google's default CSS */

$gsSearchResultTitle: $fontWeightNormal 1.4em/1.1 $sans-serif;

$gs-visibleUrl-long--font: $fontWeightNormal 9em $serif !important;
$gs-visibleUrl-long--color: $linkColorVisited !important;
	
/* The numbers that represent pages of search results */
$gsPaginationNumberBorderColor: #eee;
$gsPaginationCurrentLinkBorder: #ccc;
$gsPaginationCurrentLinkBackground: #eee;
$gsPaginationHoverLinkBorder: #ccc;
$gsPaginationHoverLinkBackground: #ddd;

/* Nav */
$u-NavSite__level--1--mobileFont: $fontWeightBold 1.95em/1.1 $sans-serif;
$u-NavSite__level--2--mobileFont: $fontWeightMedium 1.4em/1.1 $sans-serif;
$u-NavSite__level--3--mobileFont: $fontWeightMedium 1em/1.1 $sans-serif;
$u-NavSite__item--mobilePadding: .25em 0;

$u-NavSite__level--1--font: $fontWeightBold .8em/1.1 $sans-serif;
$u-NavSite__level--2--font: $fontWeightMedium .7em/1.1 $sans-serif;
$u-NavSite__level--3--font: $fontWeightMedium .7em/1.1 $sans-serif;
/* level 3 covers Level 3 and up. */

$u-NavSite__level--borderColor: none;

$mobileMenuBackground: $linkColor;

$mobileMenuLinkColor: #fff;
$mobileMenuLinkColorHoverFocus: $linkColorHoverFocus;
$mobileMenuLinkColorActive: $linkColorActive;
$mobileMenuLinkColorVisited: #fff;

$menuLinkColor: #fff;
$menuLinkColorHoverFocus: $linkColorHoverFocus;
$menuLinkColorActive: $linkColorActive;
$menuLinkColorVisited: #fff;

/* LATEST Modules basic */

$sidebarModule__header--font: $fontWeightMedium 1.25em/1.1 $sans-serif;
$sidebarModule--nameFont: $fontWeightNormal .9em/1.1 $sans-serif;

$sidebarModule--font: $fontWeightNormal 1em $serif; /* that shorthand left in for backwards compatibility */
$sidebarModule--font-weight: inherit;
$sidebarModule--font-family: inherit;

$sidebarModule--labelFont: $fontWeightMedium;
$sidebarModule--margin: 0 0 1.5em;

/* Use these variables to place a bg color on side news announcement items */

$sidebarModuleAnnouncements__link--background: transparent;
$sidebarModuleAnnouncements__link--padding: 0;
$sidebarModule__listItem--border: 1px solid #eee;

$sidebarModule__header--linkColor: $fontColor;
$sidebarModule__header--linkColorHoverFocus: $linkColorHoverFocus;
$sidebarModule__header--linkColorActive: $linkColorActive;
$sidebarModule__header--linkColorVisited: $fontColor;

/* News  */

$u-ArticleListItem__title--font: $fontWeightMedium 1em $sans-serif;
$u-ArticleListItem__title--linkColor: $linkColor;
$u-ArticleListItem__title--linkColorHoverFocus: $linkColorHoverFocus;
$u-ArticleListItem__title--linkColorActive: $linkColorActive;
$u-ArticleListItem__title--linkColorVisited: $linkColorVisited;
$u-ArticleListItem__summary--font: $fontWeightNormal 1em $serif;
$u-ArticleListItem__label--type--font: $fontWeightNormal .85em $sans-serif;
$u-ArticleListItem__label--dateline__posted--font: $fontWeightNormal .85em $sans-serif;
$u-ArticleListItem__label--dateline__postedDate--font: $fontWeightNormal .85em $sans-serif;

$u-ArticleListItem__link--linkColor: $linkColor;
$u-ArticleListItem__link--linkColorHoverFocus: $linkColorHoverFocus;
$u-ArticleListItem__link--linkColorActive: $linkColorActive;
$u-ArticleListItem__link--linkColorVisited: $linkColorVisited;

$u-ArticleListItem__summary--color: $fontColor;
$u-ArticleListItem__summary--colorHoverFocus: $fontColor;
$u-ArticleListItem__summary--colorActive: $fontColor;
$u-ArticleListItem__summary--colorVisited: $fontColor;

$buttonBgColor: $linkColor;
$buttonBgColorHoverFocus: $linkColorHoverFocus;
$buttonBgColorVisited: $linkColor;
$buttonBgColorActive: $linkColorActive;

$buttonLinkColor: #fff;
$buttonLinkColorHoverFocus: #fff;
$buttonLinkColorVisited: #fff;
$buttonLinkColorActive: #fff;

$uniqueButtonBgColor: $linkColor;
$uniqueButtonBgColorHoverFocus: $linkColorHoverFocus;
$uniqueButtonBgColorVisited: $linkColor;
$uniqueButtonBgColorActive: $linkColorActive;

$uniqueButtonLinkColor: #fff;
$uniqueButtonLinkColorHoverFocus: #fff;
$uniqueButtonLinkColorVisited: #fff;
$uniqueButtonLinkColorActive: #fff;

$u-ArticleList__systemMessage--font: $fontWeightNormal 1.1em/1.2 $serif;
$u-ArticleList__systemMessage--color: #400;

/*	Search
	------ */

/*	Mobile search colors
	-------------------- */

$u-Search__submit--mobileIconColor: #fff;
$u-Search__submit--mobileIconColorHoverFocus: $linkColorHoverFocus;
$u-Search__submit--mobileIconColorActivated: $linkColorActive;

$u-Search__submit--iconColor: $linkColor;
$u-Search__submit--iconColorHoverFocus: $linkColorHoverFocus;
$u-Search__submit--iconColorActivated: $linkColorActive;

$u-Search__submit--mobileBgColor: $linkColor; /* this color needs to match the hard-coded value of the input border found in modules/search.scss */
$u-Search__submit--bgColor: #fff;
$u-Search__submit--bgColorHoverFocus: #fff; 
$u-Search__submit--bgColorActive: #fff;

$u-Search__field--mobileBgColor: #fff;
$u-Search__field--bgColor: transparent;
$mobileSearchBackgroundColor: $linkColor;
$searchBackgroundColor: #fff;

$u-Search__field--font: $fontWeightNormal 1em $sans-serif;
$u-Search__field--textColor: $fontColor;
$u-Search__field--placeholderColor: $fontColor;

$u-Search--borderSize: border-bottom;
$u-Search--borderSettings: none;

$pointAtWhichSearchMovesToRight: 1040px;

/*	Mobile search and menu colors
	----------------------------- */
$u-Masthead__vassar--mobileLinkColor: #fff;
$u-Masthead__vassar--mobileLinkColorHoverFocus: $linkColorHoverFocus;
$u-Masthead__vassar--mobileLinkColorActive: $linkColorActive;

$u-Masthead__vassar--linkColor: $linkColor;
$u-Masthead__vassar--linkColorHoverFocus: $linkColorHoverFocus;
$u-Masthead__vassar--linkColorActive: $linkColorActive;

$ac-NavAnchor--menuColor: #fff;
$ac-NavAnchor--menuColorHoverFocus: $linkColorHoverFocus;
$ac-NavAnchor--menuColorActive: $linkColorActive;

$searchAndMenuBtnColor: #fff;			/* Sets link color for mobile nav close button, that's it */
