@keyframes bounce {
	0% {
		transform: translateY(-0.2em);
	}
	50% {
		transform: translateY(0.2em);
	}
	100% {
		transform: translateY(-0.2em);
	}
}
@keyframes pulsate {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}	
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}	
@keyframes ken-burns {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.4);
	}
}
@keyframes zoom-in {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
