@import "_config";

/* global */

.title-gradient {
    color: $burgundy-2;
    text-transform: none;
    background: linear-gradient(135deg, $burgundy-2 0%, $burgundy-bright 70%);
    -webkit-background-clip: text;
    color: transparent;
}
.u-Masthead__head {
    font-family: $serif;
    font-weight: $fontWeightRegular;
    text-transform: none;
    letter-spacing: 0;
    font-size: 2rem;
}
.u-Masthead__subhead {
    margin-top: 0;
}
.u-pageInner.u-thirdLevel .u-Masthead__head {
    font-size: .75em;
    text-transform: uppercase;
    font-weight: $fontWeightLight !important;
}
@media screen and (min-width: 31.25em) {
    .u-Masthead__head {
        font-size: 3rem;
    }
}
@media screen and (min-width: $tiny) {
    .u-thirdLevel .u-lHeader {
        margin-bottom: 0;
    }
    .u-Masthead__head {
        font-size: 5rem;
    }
    .u-Masthead__siteName--link {
        padding-bottom: 1.5em;
    }
}
.secondLevelNavSplit .modulesArea__row [id] {
   margin-top: -4em;
   padding-top: 4em !important;
}
.u-lContent {
	font-size:0.95em;
    a {
        &:focus,
        &:hover,
        &:visited:focus,
        &:visited:hover {
            background-color:#D0D0CE;
            color:#63666A
        }
    }
}
main.u-lMain .u-lContent {
    font-weight: $fontWeightLight;
}
.NavInline--3col li {
    line-height: 1.2;
}
.RowContainer:not(.bg)+.RowContainer.bg {
    margin-top: 2em;
}
.RowContainer.bg+.RowContainer:not(.bg) {
    padding-top: 2em;
}
.RowContainer.bg .Row__title {
    padding-top: 0;
}
.u-pageTitle,
.speaker .Row__title {
    font-size: 2.5em !important;
    border: none;
    padding: .75em 0 .15em;
    font-family: $serif !important;
    font-weight: $fontWeightBold !important;
    @extend .title-gradient;
    text-decoration:none !important;
    text-transform: none !important;
    text-align: left!important;
    display: inline-block;
}
.Dark--scrim {
   .Row__title {
      color: #fff;
    }
}
.bgSparkPatternMaroonWhite {
    border: 1px solid $gray-light;
    background-image: url(../../assets/images/Vassar_SparkPattern_maroon-white.png);
    background-repeat: no-repeat;   
}
.bgQuadGrid-grey {
    background: #d4cfce url(../../assets/images/Vassar_QuadGrid-grey.png) repeat;
    background-size: 9em;
    border: 1px solid $gray-light;
}
h3.u-ExtendedFooter__listHeader {
    color: #fff;
    margin-top: 0;
    font: normal 600 1.5em/1.1 freight-big-pro,serif;
    letter-spacing: normal;
    text-transform: none;
}
.u-VCard--site .org {
    font: $fontWeightBold 2em/1.1 $serif;
    text-transform: capitalize;
    letter-spacing: 0;
}

/* local */

.u-lHeader{
	background-image:url(../images/header-bg.jpg);
    padding: 24% 8% 0 0;
}
.Row__title,
.u-pageInner .speaker .Row__title {
    font-family: $serif;
    font-size: 2em !important;
    line-height: 1;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 600;
    color:$burgundy-2;
    margin-bottom: .5em;
    b {
        display: block;
        font-size: .5em;
        font-family: $sans-serif;
        margin-top: .3em;
    }
}
.congrats {
    padding-top: 2em !important;
    .Row {
        strong {
            font-size: 1.5em;
            font-weight: $fontWeightBold;
            font-family: $serif;
            display: block;
            text-align: center;
        }
    }
}
.u-lContent .speaker {
    margin-top: 0 !important;
    padding-top: 2em !important;
    .Row {
        max-width: 20em;
    }
    .u-Figure__link {
        img,
        .figure--image,
        .Module--halfWidth:last-child {
            transition: all 0.5s ease;
        }
    }
    .u-Figure__link  {
        text-decoration: none;
        grid-area: fig-link;
    }
    .u-Figure__link:hover,
    .u-Figure__link:focus {
        .Module--halfWidth:last-child {
            background-color: $burgundy-1;
            color: #fff;
        }
        img {
            opacity: 0.4;
        }
        .figure--image {
            background-color: $burgundy-1;
        }
    }
    .figure--image {
        margin-bottom: 0;
        img {
            margin: 0;
        }
    }
    .Module--halfWidth {
        &:last-child {
            background-color: #C6AA76;
            padding: 1em;
            color: #fff;
            a {
                color: #fff;
                text-decoration: none;
                &:visited {
                    color: #fff;
                }
                &:hover,
                &:focus {
                    color: $gray-basic;
                }
                &:active {
                    color: $burgundy-bright;
                }
            }
            h3 {
                font-family: $serif;
                font-size: 1.75em;
                font-weight: $fontWeightBold;
            }
        }
    }
}
@media screen and (min-width: 43.75em) {
    .u-lContent .speaker {
        .Row--col2 {
            grid-template-areas:
            "colHeader colHeader"
            "fig-link fig-link"
            "col1 col2";
        }
        .Row {
            max-width: 48rem;
        }
        .u-Figure__link  {
            align-items: stretch;
            display: grid;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-areas:
            "col1 col2";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            justify-items: stretch;
        }
        .Module--halfWidth {
            &:last-child {
                h3 {
                    margin-top: 40%;
                }
            }
        }
    }
}
.u-lContent .home-grid-top-row,
.u-lContent .home-grid-bottom-row {
    text-align: center;
    font-size: 1.5em;
    font-family: $serif;
    font-weight: $fontWeightBold;
    figure {
        margin-bottom: .7em;
    }
    .Module--halfWidth {
        background-color: $burgundy-1;
        transform: skewX(-4deg);
        overflow: hidden;
        img,
        figcaption {
            transform: skewX(4deg);
        }
        img {
            max-width: 110%;
            left: -18px;
            position: relative;
        }
    }
    .u-Figure__link,
    .u-Figure__link img{
        transition: all 0.5s ease;        
    }
    .u-Figure__link,
    .u-Figure__link:visited {
        color: #fff;
        text-decoration: none !important;
    }
    .u-Figure__link:hover,
    .u-Figure__link:focus {
        background-color: #C6AA76;
        color: #fff;
    }
    .u-Figure__link:hover img,
    .u-Figure__link:focus img {
        opacity: 0.4;
    }
}
/* .home-grid-bottom-row {
    .Module--halfWidth {
        background-color: $burgundy-1;
        &:last-child {
            background-color: #fff;
        }
    }
} */
.event__title {
    margin-top: 2em;
}
