@import "_config";
@import "_video-modal";

.u-pageIndex-livestream {
    h1.u-pageTitle {
        display: none;
    }
    h2.u-pageTitle {
        padding-top: 0;
    }
}

/* video modal extra */
 ul.videoList h3 {
    strong {
        text-transform: uppercase;
        font-size: 1.2em;
    }
}
.u-lContent {
    background-image: url(../images/Vassar-SPARK-step_and_repeat_light-gold.png);
    background-repeat: repeat;
    background-size: 90%;
    background-attachment: fixed;
    background-position-y: top;
    background-position-x: 11em;
}
/* galleria header */
.u-pageHome {
    .u-lHeader {
        background-image: url();
        padding: 0;
        position: relative;
    }
    .u-Masthead {
        position: absolute;
        z-index: 10;
        bottom: 0;
    }
    .u-Masthead__siteName--link {
        margin-left: 10%;
    }
    .galleria--content {
        margin: 0;
    }
}
.u-Masthead .u-Gallery__slideAttribution {
    display: block;
    font-size: 80%;
}
/* end galleria header */
.u-folderWeekend .u-lHeader {
    background-image: url(../images/slideshows/primary/2021/Commencement-2106-KR_5383.jpg);
    padding: 24% 8% 0 0;
}
.u-folderGuests .u-lHeader {
    background-image: url(../images/slideshows/primary/2021/0121_Vassar-Graduation_June-6-21_JA.jpg);
    padding: 24% 8% 0 0;
}
.u-folderGraduates .u-lHeader {
    background-image: url(../images/slideshows/primary/2021/0001_Vassar-Graduation_June-6-21_JA.jpg);
    padding: 24% 8% 0 0;
}
.u-folderContact .u-lHeader {
    background-image: url(../images/slideshows/primary/2021/0177_Vassar-Graduation_June-6-21_JA.jpg);
    padding: 24% 8% 0 0;
}
.u-folderSwag .u-lHeader {
    background-image: url(../images/slideshows/primary/2021/0117_Vassar-Graduation_June-6-21_JA.jpg);
    padding: 24% 8% 0 0;
}
/* global */
.PageNavContainer .Row {
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.2);
}
.PageNav {
    border: none;
    margin: 0 auto 2em;
}
.title-gradient {
    color: $burgundy-2;
    text-transform: none;
    background: linear-gradient(135deg, $burgundy-2 0%, $burgundy-bright 70%);
    -webkit-background-clip: text;
    color: transparent;
}
.u-Masthead__head {
    font-family: $serif;
    font-weight: $fontWeightRegular;
    text-transform: none;
    letter-spacing: 0;
    font-size: 2rem;
}
.u-Masthead__subhead {
    margin-top: 0;
}
.u-pageInner.u-thirdLevel .u-Masthead__head {
    font-size: .75em;
    text-transform: uppercase;
    font-weight: $fontWeightLight !important;
}
.margin-bottom {
    margin-bottom: 2em;
}
@media screen {
    .u-Video {
        margin-bottom: 1em;
    }
    .Row--col3 {
        .giphy-sticker {
            border: 1px solid;
        }
        .Module--thirdWidth,
        .giphy-sticker {
            display: block;
            transition: 0.4s all ease;
            background-color: #fff;
            &:hover,
            &:focus,
            &:active {
                transform: scale(1) perspective(0px) skewX(-3deg);
                background-color: #fff;
                figcaption {
                    background-color: $gold;
                    color: $gray-dark;
                }
            }
            div.embed {
                border: 1px solid;
                display: block;
                transition: 0.4s all ease;
                &:hover,
                &:focus,
                &:active {
                    transform: scale(1) perspective(0px) skewX(-3deg);
                    background-color: transparent;
                    figcaption {
                        background-color: $gold;
                        color: $gray-dark;
                    }
                }                
            }
            .figure--image {
                border: 1px solid;
                img {
                    margin: 0;
                }
            }
            figcaption {
                background-color: $burgundy-1;
                color: #fff;
                text-align: center;
                padding: .5em;
                font-size: .8em;
                font-weight: $fontWeightBold;
            }
        }
    }
}
@media screen and (min-width: $tiny) {
    .Row--col3 {
        align-items:stretch;
        display: grid;
        grid-column-gap: 5%;
        grid-row-gap: 0;
        grid-template-areas: "colHeader colHeader colheader" "col1 col2 col3";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: stretch;
        /* max-width: 60rem; */
        >:first-child:not(.Module--thirdWidth) {
            grid-area: colHeader
        }
        .Module--thirdWidth {
            &:nth-child(2) {
                grid-area: col1
            }
            &:nth-child(3) {
                grid-area: col2
            }
            &:nth-child(4) {
                grid-area: col3
            }
        }
    }
    .RowContainer.sub-row {
        .Row--col3 {
            align-items:stretch;
            display: grid;
            grid-column-gap: 5%;
            grid-row-gap: 0;
            grid-template-areas: "col1 col2 col3";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-items: stretch;
            .Module--thirdWidth {
                &:nth-child(1) {
                    grid-area: col1
                }
                &:nth-child(2) {
                    grid-area: col2
                }
                &:nth-child(3) {
                    grid-area: col3
                }
            }
        }
    }
}
.wide-grid-30-65 {
    &:nth-child(odd) {
        /* background-color: $gray-light; */
    }
    .Row {
        /* max-width: none; */
        padding: 0 0 2em;
    }
    .Row--col2 {
        grid-template-columns: 25% 70%;
    }
}
@media screen and (min-width: 31.25em) {
    .u-Masthead__head {
        font-size: 3rem;
    }
}
@media screen and (min-width: $tiny) {
    .u-thirdLevel .u-lHeader {
        margin-bottom: 0;
    }
    .u-Masthead__head {
        font-size: 5rem;
    }
    .u-Masthead__siteName--link {
        padding-bottom: 1.5em;
    }
}
.secondLevelNavSplit .modulesArea__row [id] {
   margin-top: -4em;
   padding-top: 4em !important;
}
.u-lContent {
	font-size:0.95em;
    a {
        &:focus,
        &:hover,
        &:visited:focus,
        &:visited:hover {
            background-color:#D0D0CE;
            color:#63666A
        }
    }
}
main.u-lMain .u-lContent {
    font-weight: $fontWeightLight;
}
.NavInline--3col li {
    line-height: 1.2;
}
.RowContainer:not(.bg)+.RowContainer.bg {
    margin-top: 2em;
}
.RowContainer.bg+.RowContainer:not(.bg) {
    padding-top: 2em;
}
.RowContainer.bg .Row__title {
    padding-top: 0;
}
.u-pageTitle
/* .speaker .Row__title */ {
    font-size: 2.5em !important;
    border: none;
    padding: .75em 0 .15em;
    font-family: $serif !important;
    font-weight: $fontWeightBold !important;
    @extend .title-gradient;
    text-decoration:none !important;
    text-transform: none !important;
    text-align: left!important;
    display: inline-block;
    position: relative;
    margin-bottom: .75em;
}
.u-pageTitle:after {
    content: "";
    position: absolute;
    width: 3em;
    border-top: 1px solid #ED1C24;
    left: 0;
    bottom: -0.25em;
}
.Dark--scrim {
   .Row__title {
      color: #fff;
    }
}
.row-text-center {
    text-align: center;
} 
.row-no-max-width {
    .Row {
        max-width: none;
    }
}
.bgSparkPatternMaroonWhite {
    border: 1px solid $gray-light;
    background-image: url(../../assets/images/Vassar_SparkPattern_maroon-white.png);
    background-repeat: no-repeat;   
}
.bgQuadGrid-grey {
    background: #d4cfce url(../../assets/images/Vassar_QuadGrid-grey.png) repeat;
    background-size: 9em;
    border: 1px solid $gray-light;
}
h3.u-ExtendedFooter__listHeader {
    color: #fff;
    margin-top: 0;
    font: normal 600 1.5em/1.1 freight-big-pro,serif;
    letter-spacing: normal;
    text-transform: none;
}
.u-VCard--site .org {
    font: $fontWeightBold 2em/1.1 $serif;
    text-transform: capitalize;
    letter-spacing: 0;
}

/* local */
.Row__title,
.u-pageInner .speaker .Row__title {
    font-family: $serif;
    font-size: 2em !important;
    line-height: 1;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: 600;
    color:$burgundy-2;
    margin-bottom: .5em;
    b {
        display: block;
        font-size: .5em;
        font-family: $sans-serif;
        margin-top: .3em;
    }
}
.Row__title {
    font-size: 1.5em !important;
}
.congrats {
    padding-top: 2em !important;
    .Row {
        strong {
            font-size: 1.5em;
            font-weight: $fontWeightBold;
            font-family: $serif;
            display: block;
            text-align: center;
        }
    }
}
.u-lContent .speaker {
    margin-top: 0 !important;
    padding-top: 2em !important;
    .Row {
        max-width: 20em;
    }
    .u-Figure__link {
        img,
        .figure--image,
        .Module--halfWidth:last-child {
            transition: all 0.5s ease;
        }
    }
    .u-Figure__link  {
        text-decoration: none;
        grid-area: fig-link;
    }
    .u-Figure__link:hover,
    .u-Figure__link:focus {
        transform: scale(1) perspective(0px) skewX(-3deg);
        .Module--halfWidth:last-child {
            background-color: $burgundy-1;
            color: #fff;
        }
        img {
            opacity: 0.4;
        }
        .figure--image {
            background-color: $burgundy-1;
        }
    }
    .figure--image {
        margin-bottom: 0;
        img {
            margin: 0;
        }
    }
    .Module--halfWidth {
        &:last-child {
            background-color: #C6AA76;
            padding: 1em;
            color: #fff;
            a {
                color: #fff;
                text-decoration: none;
                &:visited {
                    color: #fff;
                }
                &:hover,
                &:focus {
                    color: $gray-basic;
                }
                &:active {
                    color: $burgundy-bright;
                }
            }
            h3 {
                font-family: $serif;
                font-size: 1.75em;
                font-weight: $fontWeightBold;
            }
        }
    }
}
@media screen and (min-width: 43.75em) {
    .u-lContent .speaker {
        .Row--col2 {
            grid-template-areas:
            "colHeader colHeader"
            "fig-link fig-link"
            "col1 col2";
        }
        .Row {
            max-width: 48rem;
        }
        .u-Figure__link  {
            align-items: stretch;
            display: grid;
            grid-column-gap: 0;
            grid-row-gap: 0;
            grid-template-areas:
            "col1 col2";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            justify-items: stretch;
        }
        .Module--halfWidth {
            &:last-child {
                h3 {
                    margin-top: 40%;
                }
            }
        }
    }
}
.u-lContent .home-grid-top-row,
.u-lContent .home-grid-bottom-row {
    text-align: center;
    font-size: 1.5em;
    font-family: $serif;
    font-weight: $fontWeightBold;
    figure {
        margin-bottom: .7em;
    }
    .Module--halfWidth {
        background-color: $burgundy-1;
        transform: skewX(-4deg);
        overflow: hidden;
        img,
        figcaption {
            transform: skewX(4deg);
        }
        img {
            max-width: 110%;
            left: -18px;
            position: relative;
        }
    }
    .u-Figure__link,
    .u-Figure__link img{
        transition: all 0.5s ease;        
    }
    .u-Figure__link,
    .u-Figure__link:visited {
        color: #fff;
        text-decoration: none !important;
    }
    .u-Figure__link:hover,
    .u-Figure__link:focus {
        background-color: #C6AA76;
        color: #fff;
    }
    .u-Figure__link:hover img,
    .u-Figure__link:focus img {
        opacity: 0.4;
    }
}
.event__title {
    margin-top: 2em;
}
.social-media {
    margin-top: 3em;
    background-image: url(../../assets/images/pattern-quad-light-charcoal.png);
    background-color: $burgundy-2;
    background-attachment: fixed;
    background-size: 2em;
    background-repeat: repeat;
    .Row__title {
        color: #fff;
        margin-bottom: 1em;
        grid-area: colHeader;
        font-size: 2.5em !important;
    }
    .instagram-media {
        min-width: 100% !important;
        height: 425px !important;
    }
}
.u-lMain a:link,
.u-lMain a:visited {
    border-bottom: 1px solid;
    text-decoration-line: none;
}
.PageNav a.Module__link:link,
.PageNav a.Module__link:visited {
    border-bottom: none;
    text-decoration-line: underline;    
}
.ac-hiddenVisually {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    position: absolute !important;
    width: 1px !important
}
.hover a[href$=".pdf"]:after {
    content: none;
}
.replay-later figcaption {
    @extend .ac-hiddenVisually;
}
.u-pageHome .RowContainer:first-of-type {
    padding-top: 0 !important;
}
/* ceremony styles
@media screen and (min-width: $tiny) {
    .u-pageHome,
    .u-pageIndex-livestream,
    .u-pageCeremony-mandarin,
    .u-pageCeremony-spanish {
        .g-Masthead,
        .NavGlobal {
            border: 0 !important;
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px !important;
            padding: 0 !important;
            overflow: hidden;
            position: absolute !important;
            width: 1px !important
        }
    }
    .u-NavSite__main {
        padding-top: 1em;
    }
}
.u-pageHome,
.u-pageIndex-livestream,
.u-pageCeremony-mandarin,
.u-pageCeremony-spanish {
    body {
        grid-template-areas:
            "kint-container"
            "banner-covid19"
            "global-masthead"
            "global-navigation"
            "header"
            "main"
            "site-navigation"
            "footer";
    }
    .u-lHeader {
        @extend .ac-hiddenVisually
    }
    .u-Masthead {
        min-height: inherit;
        max-width: 100%;
        text-align: center;
    }
    .u-Masthead__siteName--link {
        background-color: transparent;
        padding: .75rem 3% 1.25rem;
        margin-left: 0;
    }
    .u-lHeader:not(.u-lHeader--inner) a.u-Masthead__siteName--link:focus, 
    .u-lHeader:not(.u-lHeader--inner) a.u-Masthead__siteName--link:hover {
        color: $gold !important;
        background-color: transparent;
    }
    .RowContainer.congrats,
    .RowContainer:first-of-type {
        padding-top: 1em;
        text-align: center;
    }
}  */