@import "_mixins";
@import "compass";
@import "_config";


/* ==============================
 *	TYPOGRAPHY
 * ==============================
 */

/* Elements */

html {
    font-family: $sans-serif;
    font-size: 100%;
}
@media screen and (min-width: $tiny) {
    html {
        font-size: 1.4em;
        font-size: calc(1em + 0.5 * ((100vw - 20em) / 60));
    }
}
@media screen and (min-width: $xlarge) {
    html {
        font-size: 225%;
    }
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .4em;
	padding-top: .8em;
    font-weight: $fontWeightMedium;
    font-family: $sans-serif;
}
.u-lContent h1:nth-of-type(1), .u-lAside h1:nth-of-type(1),
.u-lContent h2:nth-of-type(1), .u-lAside h2:nth-of-type(1),
.u-lContent h3:nth-of-type(1), .u-lAside h3:nth-of-type(1),
.u-lContent h4:nth-of-type(1), .u-lAside h4:nth-of-type(1),
.u-lContent h5:nth-of-type(1), .u-lAside h5:nth-of-type(1),
.u-lContent h6:nth-of-type(1), .u-lAside h6:nth-of-type(1) {
	padding-top: 0;
}
h1 {
    font-size: 1.802em;
}

h2 {
    font-size: 1.266em;
}

h3 {
    font-size: 1em;
}
h4 {
    font-size: .8em;
    letter-spacing: .02em;
    text-transform: uppercase;
}
h5 {
    font-size: 1em;
    font-family: $serif;
    font-weight: $fontWeightBold;
}
.u-lContent {
	font-size: 1.125em;
	font-family: $serif;
	font-weight: $fontWeightNormal;
	line-height: 1.4;
	margin-bottom: 1.25em;
}
p {
	margin-top: 0;
}
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
	margin-top: 0;
}
th {
	font-weight: $fontWeightBold;
}
td, b {
	font-weight: $fontWeightNormal;
}
li {
	margin: 0 0 0.327em;
}

/* Main page content */

.u-lMain {
	font-size: 100%;
}
.u-pageTitle {
	margin-top: 0;
    text-align: center;
    font-family: $sans-serif;
}
.u-pageHome {
    .u-lContent h2:nth-of-type(1) {
        text-align: center;
        text-transform: uppercase;
        color: $linkColor;
    }
}

/* u-lAside sidebar styles */

.u-lAside {
    h1 {
        font-size: 1.802em;
    }

    h2 {
        font-size: 1.266em;
    }

    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: .8em;
        letter-spacing: .02em;
        text-transform: uppercase;
    }
    h5 {
        font-size: 1em;
        font-family: $serif;
        font-weight: $fontWeightBold;
    }
	p,
	ol,
	ul {
		font-size: 1em;
		font-weight: $fontWeightNormal;
        font-family: $serif;
	}
	li {
		margin-bottom: 0.327em;
		line-height: 1.2;
        font-family: $serif;
	}
}
@media all and (min-width: $tiny) {
	.u-lMain {
		font-size: 100%;
	}
	p {
		line-height: inherit;
	}
	.u-lAside {
		p,
		ol,
		ul {
			font-size: inherit;
		}
	}
}
.u-SiteMap__level {
	 margin: .5em 0;
}
.u-Masthead__siteName,
.u-Masthead__vassar {
	padding: 0;
    line-height: 1;
}
.u-Masthead__siteName--line1 {
    font-size: .9em;
    font-weight: $fontWeightBold;
    text-transform: uppercase;
    margin-bottom: -.35em;
}
.u-Masthead__siteName--line2 {
    letter-spacing: .09em;
    font-family: $serif;
    font-size: .7em;
}
.u-NavSite {
    text-align: center;
}
.u-NavSite__item {
    text-transform: uppercase;
}
.galleria-info-description {
    font: italic $fontWeightBold 3em/1 $serif !important;
}
.u-Figure.quad {
    .u-Figure__caption {
        font-weight: $fontWeightMedium;
        text-align: center;
        padding: .09em .2em .2em;
        margin-top: 0;
        text-transform: uppercase;
    }
}
.u-VCard--site {
    .u-VCard__url {
        font-weight: $fontWeightMedium;
    }
}
.u-Figure.speaker {
    margin: 0 0 3em 0;
    .u-Figure__caption {
        .title {
            display: block;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .2em;
        }
        .desc {
            font-family: $serif;
            font-size: .9em;
        }
    }
}
.schedule .event,
.Module--deadlines .Module__item {
    margin-bottom: 2em;
}
.event {
	margin-bottom: .7em !important;
	padding-bottom: .7em;
	overflow: hidden;
	border-bottom: 2px solid #eee
}
h4.event__title {
	margin: 0;
	margin-bottom: .25em;
	font-size: 1em;
    text-transform: none;
}
.event__location {
	padding-right: 4%;
	font-size: .85em;
	margin-bottom: .2em;
	font-family: $sans-serif;
	font-weight:$fontWeightMedium;
	line-height: 1em;
}
.event__time {
	padding-right: 4%;
	font-size: 1em;
	margin-bottom: .2em;
	font-family: $sans-serif;
	font-weight:$fontWeightMedium;
	line-height: 1em;
}
.event__location {
	font-weight: normal;
	margin-bottom: .5em
}
.event__desc p:last-child {
	margin-bottom: 0
}
.event_desc p {
	margin-left: 0 !important;
}
.event__desc p {
	font-size: .85em;
}
.event__time {
    display: block;
}
.Module__date {
	font-family: $sans-serif;
	font-weight:$fontWeightMedium;
}
.moreLink:link  {
	font-size: .85em;
}
.Module--deadlines .Module__desc {
    padding-top: .1em;
}
.Module--deadlines .Module__header, 
.schedule__date {
    font-size: 1em;
    text-transform: uppercase;
}
.Module__item {
	margin-bottom: .7em !important;
	padding-bottom: .7em;
}
.Module--deadlines .Module__desc {
    font-size: .8em;
}
.Module--deadlines .Module__date {
    font-size: .95em;
}
.Module__deadline {
	line-height: 1em;
}
.Module__deadline p{
	margin-bottom: 0;
}
.Module--deadlines .Module__desc h4 {
    font-size: 1.3em;
	margin-top: .2em;
}
.Module__deadline p {
	margin-bottom: 1em;
}
.Module__list,
.Module__listItem { 
	margin: 0;
	padding: 0;
	list-style: none;
}
.Module__listItem { 
	margin-bottom: .75em;
	padding-bottom: .5em;
}
.Module__subList .Module__listItem { 
	border-bottom: none;
	padding-bottom: 0;
}
.Module__desc {
	font-size: .75em;
}
.Module__title {
	display:  block;
	font-weight: $fontWeightMedium;
	font-family: $sans-serif;
}
.Module__subList .Module__title {
	font-size: .85em;
}
.Module__desc {
	display:  block;
	padding: 0 0 .5em 0;
	margin:0;
	line-height: 1em;
}
@media all and (min-width: $tiny) {
    .Module--deadlines .Module__item{
        overflow: hidden;
        padding: .5em 0
    }
    .Module--deadlines .Module__deadline {
        width: 30%;
        float: left;
        margin-top: .1em
    }
    .Module--deadlines .Module__desc {
        width: 65%;
        float: right
    }
}
@media all and (min-width: $small) {
    .u-lMain {
        font-size: 100%;
    }
    .u-NavSite__level--2 {
        .u-NavSite__item {
            padding-right: 1em;
        }
    }
    .galleria-info-description {
        font: italic $fontWeightBold 6em/1 $serif !important;
    }
    .event_desc {
        margin-left: 0
    }
}

/* ==============================
 *	LAYOUT
 * ==============================
 */
.u-BreadCrumbs {
    display: none;
    visibility: hidden;
}
@media screen {
    .u-lHeader {
        padding: 3.9em 0 0 0;
        text-align: center;
    }
    .u-Masthead__siteName--line1 {
        display: block;
    }
    .galleria--content {
        margin: 2.4em 0 2.5%;
    }
    .u-Masthead__siteName {
        margin-top: 4.25em;
        margin-top: 7rem;
    }
    /* .u-Masthead__siteName--link {
        padding-top: 2.8em;
    } */
    .u-Masthead__siteName--link {
        padding-top: 2.2em;
    }
    .galleria-info {
        width: 31em !important;
        top: auto !important;
        left: 50% !important;
        bottom: 15% !important;
        margin-left: -15.5em !important;
    }
    .u-Figure.speaker {
        overflow: hidden;
        img {
            width: 100%;
        }
        .u-Figure__caption {
            margin: 0;
            width: 100%;
            padding: 5%;
        }
    }
    .u-Figure--half {
        width: 100%;
    }
    .u-Figure--right,
    .u-Figure--left {
        float: none;
        margin: 0 0 5%;
    }
    .u-pageHome .u-Video.u-Video--4x3 {
        /* margin-top: 2.75em; */
    }
}
@media all and (min-width: $small) {
    html {
        padding: 0;
        position: relative;
    }
    body {
        position: static;
    }
    .u-lHeader {
        padding: 0 0 10em;
    }
    .u-Masthead {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 1.5em 0 2em;
        z-index: 10;
    }
    .u-Masthead__siteName {
        margin-top: 0;
    }
    /* .u-Masthead__siteName--link {
        display: inline-block;
        padding: 0 0 0 2.11em;
    } */
    .u-Masthead__siteName--link {
        display: inline-block;
        padding: 0 0 0 7.11em;
    }
    .u-Masthead__vassar {
        visibility: hidden;
        display: none;
    }
    .u-lMain {
        float:none;
        margin: 2em auto;
        padding: 0;
        width: 90%
    }
    .u-pageInner  {
        .u-lMain {
            /* margin: 11em auto 2em; */
        }
        .u-Masthead {
            padding: 1.5em 0 5em;
        }
    }
    .u-pageHome .galleria--content {
        margin: 7em 0 -8em;
    }
    .u-NavSite {
        float: none;
        position: fixed;
        width: 100%;
        top: 5.7em;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 10;
    }
    .u-NavSite__itemContainer {
        display: inline-block;
    }
    .u-NavSite__item {
        padding: 0 .5em .4em;
    }
    .u-NavSite__item--isOpen {
        position: relative;
    }
    .u-NavSite__level--2 {
        position: absolute;
        white-space: nowrap;
    }
    .u-Search {
        bottom: 0;
        left: auto;
        right: 50%;
        width: 13em;
        margin-right: -6.5em;
        top: auto;
        bottom: 2.5em;
        z-index: 10;
    }
    .u-Search__field {
        width: 80%;
    }
    .u-Search__submit {
        width: 20%;
        svg {
            min-width: 75%;
            padding: 15%;
        }
    }
    .u-lFooter {
        padding: 2em 3% 5em;
    }
    .u-Figure--half {
            width: 47.25%;
    }
    .u-Figure--right {
        float: right;
        margin: 0 0 5% 2.25%;
    }
    .u-Figure--left {
        float: left;
        margin: 0 2.25% 5% 0;
    }
    .u-Figure.speaker {
        img {
            width: 50%;
            float: left;
        }
        .u-Figure__caption {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
    }
    .event__title, .event__desc {
        width: 65%;
        float: right
    }
    .event__location {
        clear: left
    }
    .event__location, .event__time {
        width: 35%;
        float: left
    }
    .u-pageHome .u-Video.u-Video--4x3 {
        /* margin-top: 10em; */
    }
}
@media all and (min-width: $medium) {
    .u-lMain {
        width: 70%
    }
}
@media all and (min-width: $large) {
    body {
        max-width: inherit;
        width: 100%;
    }
    .u-lMain {
        width: 53%;
    }
    .u-lContent,
    .u-lAside {
        padding: 0;
        width: 100%;
        float: none;
    }
}
@media all and (min-width: $xlarge) {
    .u-lMain {
        max-width: 32em;
    }
}
/* ==============================
 *	COLOR
 * ==============================
 */
a,
.Module__link,
.u-lAside a {
    text-decoration: none;
    border-bottom: 1px solid $linkBorderColor;
    padding-bottom: 0;
}
a:visited {
    border-bottom: 1px solid $linkColorVisited;
}
a:hover,
a:focus {
    border-bottom: 1px solid $linkColorHoverFocus;
}
a:active {
    border-bottom: 1px solid $linkColorActive;
}
.u-Search__cancel:link,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
.Module__headerLink:link,
.Module__link:link,
.Module--sidebar a:link,
.moreLink:link,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url:link,
.icon-close:link,
.u-Search__button:link,
.ac-NavAnchor--menu:link,
.u-NavSite__item:link,
.u-Masthead__siteName--link:link,
.u-Masthead__vassar--link:link,
.u-ArticleNavGroup__navButton:link,
.u-ArticleListItem__link:link {
    border-bottom: none;
}
.u-Masthead {
    background-color: #fff;
}
/* .u-Masthead__siteName--link {
    @include link-colors($linkColor, $linkColorHoverFocus, $linkColorActive, $linkColor, $linkColorHoverFocus);
    background: transparent url(../images/css/commencement-vc-logo.png) no-repeat center top;
    background-size: 1.85em;
} */
.u-Masthead__siteName--link {
    @include link-colors($linkColor, $linkColorHoverFocus, $linkColorActive, $linkColor, $linkColorHoverFocus);
    background: transparent url(../images/css/commencement-vc-logo-goudy.png) no-repeat center top;
    background-size: 7.3em;
}
@media all and (min-width: $small) {
    /* .u-Masthead__siteName--link {
        background: transparent url(../images/css/commencement-vc-logo.png) no-repeat left 49%;
        background-size: 1.85em;
    } */
    .u-Masthead__siteName--link {
        background: transparent url(../images/css/commencement-vc-logo-goudy.png) no-repeat left center;
        background-size: 6.85em;
    }
    .u-Masthead__siteName--link:hover {
        background: transparent url(../images/css/commencement-vc-logo-goudy-hover.png) no-repeat left center;
        background-size: 6.85em;
    }
    .u-Masthead__siteName--link:active {
        background: transparent url(../images/css/commencement-vc-logo-goudy-active.png) no-repeat left center;
        background-size: 6.85em;
    }
    .u-NavSite {
        background-color: $linkColor;
    }
    .u-NavSite__item--isCurrent,
    .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent,
    .u-NavSite__item--isOpen .u-NavSite__item {
        @include link-colors($linkColorActive, $linkColorHoverFocus, $linkColorActive, $linkColorActive, $linkColorHoverFocus);
    }
    .u-NavSite__level--2 {
        .u-NavSite__item {
            @include link-colors($linkColor, $linkColorHoverFocus, $linkColorActive, $linkColor, $linkColorHoverFocus);
        }
    }
}
.u-lFooter {
    background: $fontColor url(../images/css/commencement-footer-bg.jpg) no-repeat center top;
        background-size: cover;
}
.galleria-info-text {
    background-color: transparent !important;
}
.galleria-info-description {
    color: #fff !important;
    color: rgba(255, 255, 255, 0.80) !important;
}
.u-Figure.speaker {
    background-color: #008AFF;
    color: #fff;
    .u-Figure__caption {
        a {
            @include link-colors(#fff, $linkColorHoverFocus, $linkColorActive, #fff, $linkColorHoverFocus);
            border-bottom: 1px solid;
        }
    }
}
.u-Figure.quad {
    color: #fff;
}
.u-Figure.quad:hover {
    img {
        -webkit-filter: brightness(80%);
        filter: brightness(80%);
    }
}
.u-Figure.traditions {
    background-color: #21AF19;
}
.u-Figure.ceremony {
    background-color: $linkColor;
}
.u-Figure.graduates {
    background-color: #FFA500;
}
.u-Figure.guests {
    background-color: #800080;
}
.u-Figure.traditions:hover {
    background-color: tint(#21AF19, 25%);
}
.u-Figure.ceremony:hover {
    background-color: tint($linkColor, 25%);
}
.u-Figure.graduates:hover {
    background-color: tint(#FFA500, 25%);
}
.u-Figure.guests:hover {
    background-color: tint(#800080, 25%);
}
.u-VCard--site {
    a {
        border-bottom: 1px solid;
    }
    .u-VCard__item--contact {
        @include link-colors(#fff, $linkColorHoverFocus, $linkColorActive, #fff, $linkColorHoverFocus);
    }
}
.schedule .event,
.Module--deadlines .Module__item {
    border-bottom: 1px solid tint($fontColor, 80%);
}
.event {
	border-bottom: 2px solid #eee
}
.Module__item {
	border-bottom: 2px solid #eee
}
.moreLink:link  {
	border-bottom: 1px solid #c0004e;
}
.moreLink:link:visited  {
	border-bottom: 1px solid #666;
}
.Module__header a, .Module__header a:visited {
    color: #c0004e;
}
.Module__header a:hover {
    color: #f2660f;
}
.Module__subList a .Module__desc  {
	color: #5A5A5A;
}
.Module__listItem { 
	border-bottom: 2px solid #eee;
}
.Module--deadlines .Module__header, 
.schedule__date {
    color: $linkColor;
}
