/*	CONFIG
	====== */

/*	TYPOGRAPHY
	========== */

$iconFont: "icons" !important;

$serif: "freight-text-pro", "Georgia";
$sans-serif: "freight-sans-pro", "Helvetica";
$fontWeightNormal: 400;
$fontWeightMedium: 600;
$fontWeightBold: 700;

/*	LAYOUT
	====== */

/* Site breakpoints */

$tiny: 25em; /* 400px divided by 16px */
$small: 37.5em; /* 600px divided by 16px */
$medium: 50em; /* 800px divided by 16px */
$large: 62.5em; /* 1000px divided by 16px */
$xlarge: 143.75em;

/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */

$layoutContainerPadding--tiny: 4%;
$layoutContainerPadding--medium: 3%;

/* COLOR
	====== */

/* Basic link colors - these colors also affect the Google Search result link colors */

$linkColor: #c0004e;
$linkColorHoverFocus: #ED6707;
$linkColorVisited: #666; /* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
$linkColorActive: #cc0000;
$linkBorderColor: $linkColor;

$fontColor: #5A5A5A;


/* weekend graduates deadlines starts here */

.schedule .event,
.Module--deadlines .Module__item {
    border-bottom: 1px solid tint($fontColor, 80%);
    margin-bottom: 2em;
}
/* Weekend Events List Styles */

h3 {
    font-size: 1.2em;
    color: $fontColor;;
}
.event {
	margin-bottom: .7em !important;
	padding-bottom: .7em;
	overflow: hidden;
	border-bottom: 2px solid #eee
}
h4.event__title {
	margin: 0;
	margin-bottom: .25em;
	font-size: 1em;
}
.event__location {
	padding-right: 4%;
	font-size: .85em;
	margin-bottom: .2em;
	font-family: $sans-serif;;
	font-weight:600;
	line-height: 1em;
}
.event__time {
	padding-right: 4%;
	font-size: 1em;
	margin-bottom: .2em;
	font-family: $sans-serif;
	font-weight:600;
	line-height: 1em;
}
.event__location {
	font-weight: normal;
	margin-bottom: .5em
}
.event__desc p:last-child {
	margin-bottom: 0
}
.event_desc p {
	margin-left: 0 !important;
}
.event__desc p {
	font-size: .85em;
}
.event__time {
    display: block;
}
@media screen and (min-width: 600px) {
.event_desc {
	margin-left: 0
}
.event__title, .event__desc {
	width: 65%;
	float: right
}
.event__location {
	clear: left
}
.event__location, .event__time {
	width: 35%;
	float: left
}
}

/* Graduates/Deadlines Styles */

.Module__item {
		border-bottom: 2px solid #eee

}
.Module__date {
	font-family: $sans-serif;
	font-weight:600;
}
.moreLink:link  {
	border-bottom: 1px solid #c0004e;
	font-size: .85em;
}
.moreLink:link:visited  {
	border-bottom: 1px solid #666;
}

.Module--deadlines .Module__desc {
    padding-top: .1em;
}
.Module__item {
	margin-bottom: .7em !important;
	padding-bottom: .7em;
	
}
.Module--deadlines .Module__desc {
    font-size: .8em;
}
.Module--deadlines .Module__date {
    font-size: .95em;
}
.Module__deadline {
	line-height: 1em;
}
.Module__header a, .Module__header a:visited {
    color: #c0004e;
}
.Module__header a:hover {
    color: #f2660f;
}
.Module__deadline {
	line-height: 1em;
}

.Module__deadline p{
	margin-bottom: 0;
}
.Module--deadlines .Module__desc h4 {
    font-size: 1.3em;
	margin-top: .2em;
}

@media all and (min-width: 400px) {
	
.Module--deadlines .Module__item{
	overflow: hidden;
	padding: .5em 0
}

.Module--deadlines .Module__deadline {
	width: 30%;
	float: left;
	margin-top: .1em
}
.Module--deadlines .Module__desc {
	width: 65%;
	float: right
}
.Module__deadline p {
	margin-bottom: 1em;
}

}

/* Archive Styles */

.Module__list,
.Module__listItem { 
	margin: 0;
	padding: 0;
	list-style: none;
}
.Module__listItem { 
	margin-bottom: .75em;
	padding-bottom: .5em;
	border-bottom: 2px solid #eee;
}
.Module__subList .Module__listItem { 
	border-bottom: none;
	padding-bottom: 0;
}
.Module__desc {
	font-size: .75em;
}
.Module__title {
	display:  block;
	font-weight: 600;
	font-family: $sans-serif;
}
.Module__subList .Module__title {
	font-size: .85em;
}
.Module__desc {
	display:  block;
	padding: 0 0 .5em 0;
	margin:0;
	line-height: 1em;
}
.Module__subList a .Module__desc  {
	color: #5A5A5A;
}

