.event-listing {
	.link--video {
		font-variation-settings: 'wght' 400;
		margin-left: 1.9em;

		@include css((
			font-size: (0.8em, 0.8em, 0.9em),
		));
		
		&:before {
			width: 1.4em;
			height: 1.4em;
			top: 0;
			left: -1.8em;
			margin-left: 0 !important;
		}
	}
	.event-video {
		@include css((
			text-align: (left, left, right),
			margin-top: (0.4em, 0.4em, 0),
		));
	}
	.event-title {
		font-size: 1em;
		line-height: 1.2;
		margin: 0;
	}
	.event-time {
		@include css((
			text-align: (left, left, center),
		));
	}
	.event-link {
		@include css((
			text-align: (left, left, right),
		));
	}
	.event-item {
	    border-bottom: 1px solid #aaa;
	    padding: 0.4em 0;

		@include break(medium) {
			display: grid;
			grid-gap: 1em;
		}
		@include css((
//			grid-template-columns: (1fr, 1fr, 2fr 1fr 1fr),
			grid-template-columns: (1fr, 1fr, 1fr 1fr),
		));


		p {
			margin: 0;
		}
	}





}