.media {
	overflow: hidden;
	
	.media__figure {
		float: left;
		margin-right: 1em;
		width: 50%;
		
		@include break(medium) {
			width: auto;
			margin-right: 0;
		}
	}

	@include break(medium) {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "media-figure media-title" "media-figure media-content";

		align-items: flex-start
	}
	.media__figure {
		grid-area: media-figure;
	}
	.media__title {
		margin: 0;
	}
	.media__header {
		grid-area: media-title;
		margin-bottom: 0.4em;
		
		p {
			margin: 0;
		}
	}
	.media__content {
		grid-area: media-content;
	}
}
